<header class="app-header">
  <div class="logo-container">
    <h1 class="logo" routerLink="/">🎬 TMDB Angular</h1>
    <nav class="main-nav">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/favorites" class="nav-link">Favoritos ⭐</a>
    </nav>
  </div>
  
  <div class="auth-container">
    <span class="status-text">
      Status: {{ authService.isLoggedIn() ? '🟢 Logado' : '🔴 Deslogado' }}
    </span>
    <button (click)="toggleLogin()" class="btn-auth">
      {{ authService.isLoggedIn() ? 'Sair' : 'Entrar' }}
    </button>
  </div>
</header>